<div class="left-section">
    <!-- Content for the left section goes here -->
    <img src="../assets/Forgot password.png"  class="left-image">

</div>

<div class="right-section">
    <!-- Content for the right section goes here -->
  
      <div class="container">
          <h2>Forgot password</h2>
          <br>
          <form action="#" method="POST">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Email</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="p**********@gmail.com">
              </div>
              
<br>
<div class="Back-To-Login">
    <p><a href="Login" >Back To Login</a></p>
</div>
<div class="Send-OTP">
    <!-- <Send OTP>Send OTP</Send OTP> -->
    <p><a href="Verification" class="btn btn-primary">Send OTP</a></p>
  </div>

  <div class="Have-an-account">
 <label for="Do you have an account?">Do you have an account?</label></div>

 <div class="Signup">
    <!-- <Send OTP>Register</Send OTP> -->
    <p><a href="Signup" class="btn btn-primary">Signup</a></p>
  </div>