<div class="main-container">
    <h2 class="section-title">Career profile
    </h2>

    <div class="text">
        <p>This information will help the recruiters and Toptrain know about your current job profile and also your
            desired job criteria. This will also help us personalize your job recommendations.</p>
    </div>

    <div class="form-group">
        <label for="current-industry">Current industry:</label>
        <input type="text" id="current-industry" name="current-industry" placeholder=" Enter Your Current industry"
            required>
    </div>
    <div class="form-group">
        <label for="department">Department:</label>
        <input type="text" id="department" name="department" placeholder=" Enter Your Department" required>
    </div>

    <label for="Desired-job-type">Desired Job Type</label>
    <div class="radio-buttons">

        <label for="radio1">
            <input type="radio" id="radio1" name="radios" value="option1">Permanent

        </label>
        <label for="radio2">
            <input type="radio" id="radio2" name="radios" value="option2"> Contractual
        </label>
    </div>


    <label for="Desired-Employment-Type">Desired Employment Type</label>
    <div class="radio-buttons">

        <label for="radio1">
            <input type="radio" id="radio1" name="radios" value="option1">Full Time
        </label>
        <label for="radio2">
            <input type="radio" id="radio2" name="radios" value="option2"> Part Time
        </label>
    </div>   


        <label for="Preferred-shift">Preferred Shift</label>
        <div class="radio-buttons">

            <label for="radio1">
                <input type="radio" id="radio1" name="radios" value="option1"> Day
            </label>
            <label for="radio2">
                <input type="radio" id="radio2" name="radios" value="option2"> Night
            </label>
            <label for="radio2">
                <input type="radio" id="radio2" name="radios" value="option2"> Flexible
            </label>
        </div>

            <div class="form-group">
                <label for="work-location">Preferred work location (Max 10):</label>
                <input type="text" id="work-location" name="work-location" placeholder=" Tell us your location preferences to work" required>
            </div>

            <div class="form-group">
                <label for="">Expected Salary:</label>
                <input type="tel" id="expected-salary" name="expected-salary" placeholder="$50,000 CAD" required>
            </div>


            <div class="button-group">
                <button id="cancel">Cancel</button>
                <button id="save">Save</button>
        
            </div>













            </div>