<div class="main-container">
    <h2 class="section-title">Add Employment</h2>

    <form action="#" method="POST">

        <label for="name">Is this your current employment?
        </label>

        <div class="radio-buttons">
            <label for="radio1">
                <input type="radio" id="radio1" name="radios" value="option1"> Yes
            </label>
            <label for="radio2">
                <input type="radio" id="radio2" name="radios" value="option2"> No
            </label>
        </div>

        <label for="name"> Employment Type
        </label>

        <div class="radio-buttons">
            <label for="radio1">
                <input type="radio" id="radio1" name="radios" value="option1"> Full-Time
            </label>
            <label for="radio2">
                <input type="radio" id="radio2" name="radios" value="option2"> Internship
            </label>
        </div>

        <div class="form-group">
            <label for="total-experience">Total Experience</label>
            <input type="text" id="total-experience" name="total-experience" placeholder="1 Year" required>
        </div>
        <div class="form-group">
            <label for="company-name">Current Company Name</label>
            <input type="text" id="company-name" name="company-name" placeholder="Enter Your Current Company Name"
                required>
        </div>
        <div class="form-group">
            <label for="joining-date">Joining Date</label>
            <input type="tel" id="joining-date" name="joining-date" placeholder="Immediate" required>

        </div>
        <div class="form-group">
            <label for="Current-Salary">Current Salary</label>
            <input type="tel" id="joining-date" name="joining-date" placeholder="$50,000 CAD" required>
        </div>
        <div class="form-group">
            <label for="skills-used">Skills Used</label>
            <input type="text" id="skills-used" name="skills-used" placeholder="Enter Your Skills Used" required>
        </div>
        <div class="form-group">
            <label for="job-profile">Job Profile</label>
             <input type="job-profile" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter your Job Profile">
        </div>
        <div class="form-group">
            <label for="notice-period">Notice Period</label>
            <input type="tel" id="notice-period" name="notice-period" placeholder="Enter Your Notice Period" required>
            
        </div>
        <div class="button-group">
            <button id="cancel">Cancel</button>
            <button id="save">Save</button>
    
        </div>
    </form>
</div>