<div class="main-container">
    <h2 class="section-title">Add Project</h2>

    <div class="form-group">
        <label for="project-title">Project Title:</label>
        <input type="text" id="project-title" name="project-title" placeholder=" Enter Your Project Title" required>
    </div>

    <div class="form-group">
        <label for=" with your employment/education">Tag this project with your employment/education:</label>
        <input type="text" id=" with your employment/education" name=" with your employment/education"
            placeholder=" Enter Your Tag this project with your employment/education" required>
    </div>
    <div class="form-group">
        <label for="client">Client:</label>
        <input type="text" id="client" name="client" placeholder=" Enter Your Client" required>
    </div>
    <label for="project-status">Project status:</label>
    <div class="radio-buttons">


        <label for="radio1">
            <input type="radio" id="radio1" name="radios" value="option1"> In progress
        </label>
        <label for="radio2">
            <input type="radio" id="radio2" name="radios" value="option2"> Finished
        </label>
    </div>

    <div class="form-group">
        <label for="worked-from">Worked From:</label>
        <input type="text" id="worked-from" name="worked-from" placeholder=" Enter Your Worked from" required>
    </div>

    <div class="project-details">
        <label for="project-details">Details of project</label>
        <textarea class="form-control" id="validationTextarea" placeholder="Type here...." required></textarea>
        <div class="textarealine">
            1000 character(s) left
        </div>


        <div class="form-group">
            <label for="project-location">Project Location</label>
            <input type="text" id="project-location" name="project-location" placeholder=" Enter Your Project Location"
                required>
        </div>

        <label for="project-site">Project site:</label>
        <div class="radio-buttons">


            <label for="radio1">
                <input type="radio" id="radio1" name="radios" value="option1"> Off site
            </label>
            <label for="radio2">
                <input type="radio" id="radio2" name="radios" value="option2"> On site
            </label>
        </div>

        <label for="employment-nature">Nature Of Employment:</label>
        <div class="radio-buttons">


            <label for="radio1">
                <input type="radio" id="radio1" name="radios" value="option1"> Full time
            </label>
            <label for="radio2">
                <input type="radio" id="radio2" name="radios" value="option2"> Part time
            </label>
            <label for="radio3">
                <input type="radio" id="radio3" name="radios" value="option3"> Contratual
            </label>
        </div>
        <div class="form-group">
            <label for="team-size">Team size</label>
            <input type="text" id="team-size" name="team-size" placeholder=" Enter Your Team size" required>
        </div>

        <div class="form-group">
            <label for="role">Role</label>
            <input type="text" id="role" name="role" placeholder=" Enter Your role" required>
        </div>

        <div class="role-description">
            <label for="role-description">Role Description</label>
            <textarea class="form-control" id="validationTextarea" placeholder="Type here...." required></textarea>
            <div class="textarealine">
                250 character(s) left
            </div>

            <div class="skill-used">
                <label for="skill-used">Skill Used</label>
                <textarea class="form-control" id="validationTextarea" placeholder="Enter Skill Used"
                    required></textarea>
                <div class="textarealine">
                    500 character(s) left
                </div>

                <div class="button-group">
                    <button id="cancel">Cancel</button>
                    <button id="save">Save</button>

                </div>

            </div>