.main-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .text{
    color: blue;
  }

  .textarealine {
    text-align: right;
    color: gray;
}


.button-group button {
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .button-group button:last-child {
    text-align: right;
  }