<div class="main-container">
    <h2 class="section-title">Resume Headline</h2>

    <div class="text">
        <p>It is the first thing recruiters notice in your profile. Write concisely what makes you
            unique and right person for the job you are looking for.</p>
    </div>


    <div class="mb-3">

        <textarea class="form-control" id="validationTextarea" placeholder="Looking for Jobs Requiring Following Skills"
            required></textarea>
        <div class="textarealine">
            300 characthers left.
        </div>
    </div>

    <div class="button-group">
        <button id="cancel">Cancel</button>
        <button id="save">Save</button>
    </div>
</div>







