<div class="main-container">
  <div class="flex-row-fd">
    <div class="rectangle">
      <div class="top-train-page">
        <img src="../assets/TopTrain_page-0001 1.png">
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="user-icon" viewBox="0 0 16 16">
        <path
          d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4m9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0" />
      </svg>
      <div class="flex-column-e">
        <div class="line"></div>
        <span class="jobs">Jobs</span>
      </div>
      <span class="services">services </span>
    </div>
    <span class="career-paths">Career paths</span>



  </div>



  <div class="flex-row-be">
    <div class="search-container">
      <input type="text" placeholder="Search...">
      <button type="submit">Search</button>
    </div>
  </div>

  <div class="flex-row-b">
    <div>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
        style="position: absolute; width: 256px;height: 65px; top: 0; left: 0;
    cursor: pointer;
    /* background: rgba(217, 217, 217, 0.59); */
    border: none;
    z-index: 19;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);">
        Date posted
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Last 24 Hours</a></li>
          <li><a class="dropdown-item" href="#">Last 3 Days</a></li>
          <li><a class="dropdown-item" href="#">Last 7 Days</a></li>
          <li><a class="dropdown-item" href="#">Last 14 Days</a></li>
        </ul>
      </button>
    </div>

    <div>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
        style="position: absolute; width: 270px;height: 65px; top: 0; left: 0;
    cursor: pointer;
    /* background: rgba(217, 217, 217, 0.59); */
    border: none;
    z-index: 19;
    margin-left: 273px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);">
        Remote

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Hybrid Remote</a></li>
          <li><a class="dropdown-item" href="#">Remote</a></li>

        </ul>
      </button>
    </div>

    <div>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
        style="position: absolute;
    width: 258px;
    height: 65px;
    top: 0;
    margin-left: 20px;
    left: 0;
    cursor: pointer;
    margin-left: 233px;
    /* background: rgba(217, 217, 217, 0.59); */
    border: none;
    z-index: 19;
    margin-left: 563px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);">
        Job Type
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Fresher(378)</a></li>
          <li><a class="dropdown-item" href="#">Contract(226)</a></li>
          <li><a class="dropdown-item" href="#">Temporary(304)</a></li>
          <li><a class="dropdown-item" href="#">Intership(63) </a></li>
          <li><a class="dropdown-item" href="#">Part Time(56)</a></li>
        </ul>
      </button>
    </div>




    <div>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
        style="position: absolute;
    width: 258px;
    height: 65px;
    top: 0;
    margin-left: 20px;
    left: 0;
    cursor: pointer;
    margin-left: 233px;
    /* background: rgba(217, 217, 217, 0.59); */
    border: none;
    z-index: 19;
    margin-left: 854px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);">
        Programming language
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">SQL(567)</a></li>
          <li><a class="dropdown-item" href="#">Python(679)</a></li>
          <li><a class="dropdown-item" href="#">Java(678)</a></li>
          <li><a class="dropdown-item" href="#">JavaScript(789) </a></li>
          <li><a class="dropdown-item" href="#">PHP(876)</a></li>
          <li><a class="dropdown-item" href="#">HTML(987)</a></li>
          <li><a class="dropdown-item" href="#">.NET(876)</a></li>
          <li><a class="dropdown-item" href="#">Angular(765)</a></li>
          <li><a class="dropdown-item" href="#">React(543) </a></li>
          <li><a class="dropdown-item" href="#">Node.js(234)</a></li>
          <li><a class="dropdown-item" href="#">Bootstrap(679)</a></li>
          <li><a class="dropdown-item" href="#">Visual Basic(83)</a></li>
          <li><a class="dropdown-item" href="#">R(89)</a></li>


        </ul>
      </button>
    </div>


    <div>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
        style="position: absolute;
    width: 258px;
    height: 65px;
    top: 0;
    margin-left: 20px;
    left: 0;
    cursor: pointer;
    margin-left: 233px;
    /* background: rgba(217, 217, 217, 0.59); */
    border: none;
    z-index: 19;
    margin-left: 1125px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);">
        Pay
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">CAD 5404 (INR 3,31,612)</a></li>
          <li><a class="dropdown-item" href="#">CAD 64,850 (INR 39,79,467)</a></li>


        </ul>
      </button>
    </div>



  </div>



  <div class="flex-row">

    <div>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
        style="position: absolute;
        width: 258px;
        height: 65px;
        top: 0;
        margin-left: 20px;
        /* margin-left: 233px; */
        /* margin-left: 233px; */
        /* background: rgba(217, 217, 217, 0.59); */
        border: none;
        z-index: 19;
        margin-left: 0px;
        border-radius: 20px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);">
        Education level
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Bachelor's Degree</a></li>
          <li><a class="dropdown-item" href="#">Master's Degree</a></li>
          <li><a class="dropdown-item" href="#">Diploma</a></li>
          <li><a class="dropdown-item" href="#">12th Pass </a></li>
          <li><a class="dropdown-item" href="#">Doctoral Degree</a></li>
          <li><a class="dropdown-item" href="#">10th Pass</a></li>


        </ul>
      </button>
    </div>

    <div>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
        style="position: absolute;
        width: 258px;
        height: 65px;
        top: 0;
        margin-left: 20px;
        /* margin-left: 233px; */
        /* margin-left: 233px; */
        /* background: rgba(217, 217, 217, 0.59); */
        border: none;
        z-index: 19;
        margin-left: 297px;
        border-radius: 20px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);">
        Location
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Bengaluru,Karnataka </a></li>
          <li><a class="dropdown-item" href="#">Channai,Tamil Nadu</a></li>
          <li><a class="dropdown-item" href="#">Mumbai, Maharashtra</a></li>
          <li><a class="dropdown-item" href="#">Hyderabad,Telangana</a></li>
          <li><a class="dropdown-item" href="#">Pune, Maharashtra</a></li>
          <li><a class="dropdown-item" href="#">Gurgaon,Hariyana</a></li>
          <li><a class="dropdown-item" href="#">Noida,Uttar Pradesh</a></li>
          <li><a class="dropdown-item" href="#">Ahmedabad,Gujarat</a></li>


        </ul>
      </button>
    </div>



    <div>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
        style="position: absolute;
        width: 258px;
        height: 65px;
        top: 0;
        margin-left: 20px;
        /* margin-left: 233px; */
        /* margin-left: 233px; */
        /* background: rgba(217, 217, 217, 0.59); */
        border: none;
        z-index: 19;
        margin-left: 584px;
        border-radius: 20px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);">
       Company
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Infosys</a></li>
          <li><a class="dropdown-item" href="#">Accenture</a></li>
          <li><a class="dropdown-item" href="#">NTT Ltd.</a></li>
          <li><a class="dropdown-item" href="#">IBM</a></li>
          <li><a class="dropdown-item" href="#">TCS</a></li>
          <li><a class="dropdown-item" href="#">Microsoft</a></li>
          <li><a class="dropdown-item" href="#">Oracle</a></li>
          <li><a class="dropdown-item" href="#">Amazon</a></li>
          <li><a class="dropdown-item" href="#">IBM</a></li>



        </ul>
      </button>
    </div>

    <div>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
        style="position: absolute;
        width: 258px;
        height: 65px;
        top: 0;
        margin-left: 20px;
        /* margin-left: 233px; */
        /* margin-left: 233px; */
        /* background: rgba(217, 217, 217, 0.59); */
        border: none;
        z-index: 19;
        margin-left: 878px;
        border-radius: 20px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);">
       Job Language
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">English</a></li>
          <li><a class="dropdown-item" href="#">Japanese</a></li>
          <li><a class="dropdown-item" href="#">Spanish </a></li>
          <li><a class="dropdown-item" href="#">German</a></li>
          <li><a class="dropdown-item" href="#">French</a></li>
        


        </ul>
      </button>
    </div>
    

  </div>

  <div class="line-18"></div>
  <div class="flex-row-a">
    <div class="rectangle-19">
      <div class="rectangle-1a">
        <div class="it-trainer">
          <span class="it-trainer-1b">IT Trainer<br /></span><span class="br"><br /></span><span
            class="br-1c"><br /></span>
        </div>
        <span class="falcon-staff-solutions">falcon staff solutions</span><span
          class="santosh-nagar-hyderabad-telangana">Santosh Nagar, Hyderabad, Telangana<br /></span><span
          class="salary">₹15,000 - ₹50,000 a month</span>
        <div class="bookmark">
          <div class="rectangle-1d"></div>
        </div>
        <button class="rectangle-1e">
          <span class="apply-now">Apply now</span>
        </button>
      </div>
      <span class="job-details">Job details</span>
      <div class="linking"></div>
      <div class="flex-row-fe">
        <div class="initiate-money-transfer"></div>
        <div class="pay-1f">
          <span class="pay-20">Pay<br /></span><span class="nbsp"> </span><span class="salary-range">
            ₹15,000 - ₹50,000 a month<br /></span>
        </div>
        <div class="rectangle-21"></div>
      </div>
      <div class="flex-row-f">
        <div class="bag"></div>
        <span class="job-type-22">Job type</span>
      </div>
      <div class="rectangle-23">
        <span class="full-time"> Full-time</span>
      </div>
      <div class="flex-row-fa">
        <div class="clock"></div>
        <span class="shift-schedule">Shift and schedule</span>
      </div>
      <div class="flex-row-b-24">
        <div class="rectangle-25"></div>
        <button class="rectangle-26">
          <span class="evening-shift">Evening shift</span></button><button class="rectangle-27">
          <span class="day-shift">Day shift</span></button><span class="morning-shift">Morning shift</span>
      </div>
      <div class="line-28"></div>
      <div class="description">
        <span class="description-29">We required an IT trainer from B.Tech background with excellent
          communication skills.<br /><br />Technical Skills : Python, Data
          Analytics & Data Science<br /><br />Job Type: Full-time<br /><br />Salary:
          ₹15,000.00 - ₹50,000.00 per month<br /><br />Schedule:<br /><br />Day
          shift<br />Evening shift<br />Morning shift<br /><br />Ability to
          commute/relocate:<br /><br />Santosh Nagar, Hyderabad, Telangana:
          Reliably commute or planning to relocate before starting work
          (Required)<br /><br />Education:<br /><br />Bachelor's
          (Preferred)<br /><br />Experience:<br /><br />Teaching: 1 year
          (Preferred)<br />total work: 1 year (Preferred)<br /><br />Language:<br /><br />English
          (Required)<br />Work Location:<br />
          In person Speak with the employer<br /></span><span class="contact-info">+91 85********</span>
      </div>
    </div>
    <div class="upload-cv">
      <!-- <button>Register</button> -->
      <p><a href="#" class="upload-cv-2a">Upload your CV</a></p> <p class="find-job"> and find your next job in TopTrain!</p>
    </div>
    <div class="">
     
    </div>
    <div class="line-2b"></div>
    <span class="it-jobs">IT jobs</span><span class="sort-options">Sort by: relevance - date</span><span
      class="job-count">10,217 jobs</span>
    <div class="rectangle-2c">
      <div class="flex-row-dc">
        <button class="rectangle-2d"></button>
        <div class="regroup-options">
          <button class="rectangle-2e"></button><button class="rectangle-2f"></button>
        </div>
      </div>
      <button class="rectangle-30"></button>
      <div class="flex-row-abb">
        <div class="email-send"></div>
        <div class="clock-31"></div>
      </div>
      <div class="ellipse"></div>
      <div class="ellipse-32"></div>
      <div class="ellipse-33"></div>
    </div>
    <div class="it-trainer-34">
      <span class="new">new<br /></span><span class="it-trainer-35">IT Trainer </span><span
        class="falcon-staff-solutions-36"> <br /></span><span class="falcon-staff-solutions-37">falcon staff solutions
        <br />Santosh Nagar, Hyderabad, Telangana
        <br /><br />
        ₹15,000 - ₹50,000 a month Full-time Day shift <br />
        <br />
        Call employer <br /><br />
        Easily apply Urgently hiring <br /><br />
        Salary: ₹15,000.00 - ₹50,000.00 per month. <br />
        We required an IT trainer from B. <br />
        Tech background with excellent communication skills. <br />Posted 3
        days ago</span>
    </div>
    <div class="here-job-details">
      <span class="here-job-details-38">Here’s how the job details align with your job preferences.<br />Manage
        job preferences at any time in your </span><span class="profile">profile </span><span
        class="rectangle-39">.</span>
    </div>
    <div class="rectangle-3a">
      <div class="flex-row-d">
        <button class="rectangle-3b"></button><button class="rectangle-3c"></button>
      </div>
      <div class="flex-row-d-3d">
        <div class="email-send-3e"></div>
        <div class="clock-3f"></div>
      </div>
      <div class="ellipse-40"></div>
      <div class="ellipse-41"></div>
    </div>
    <div class="it-technical-support">
      <span class="it-technical-support-42">IT Technical Support <br /></span><span class="axcess-it">Axcess IT
        <br />Mira
        Road, Mumbai, Maharashtra<br />
        <br /></span><span class="axcess-it-43"> </span><span class="axcess-it-44">₹1,80,000 - ₹3,20,000 a year
        Full-time<br /></span><span class="axcess-it-45"><br /></span><span class="axcess-it-46"> Easily apply Urgently
        hiring <br /></span><span class="axcess-it-47"><br /> </span><span class="axcess-it-48">Mon - Sat (UK Times)
        each
        month you get one Saturday off. <br />
        We are looking for an individual who can converse in english and
        urdu confidently. <br /><br />Active 4 days ago</span>
    </div>
    <div class="rectangle-49">
      <div class="it-software-manager">
        <span class="it-software-manager-4a">IT Software Manager (Coordinator Role with Software Vendors)
          <br /></span><span class="best-roadways-limited">Best Roadways Limited <br />Mumbai, Maharashtra <br /><br />
          ₹3,81,672.84 - ₹7,00,000.00 a year Full-time +1 <br /><br />
          Monday to Friday <br /><br />
          Easily apply <br /><br />
          Salary: ₹381,672.85 - ₹700,000.00 per year. <br />
          _Note: This job description is intended to convey information
          essential to understanding the scope of the position… <br />Active
          3 days ago</span>
      </div>
      <button class="rectangle-4b"></button><button class="rectangle-4c"></button><button class="rectangle-4d"></button>
      <div class="email-send-4e"></div>
      <div class="ellipse-4f"></div>
      <div class="ellipse-50"></div>
    </div>
    <div class="rectangle-51">
      <div class="desktop-support-engineer">
        <span class="desktop-support-engineer-52">Desktop Support Engineer L1 <br /></span><span
          class="know-all-edge">Know All Edge IT Infrastructure LLC <br />Mumbai, Maharashtra
          <br /><br />
          ₹15,000 - ₹25,000 a month Full-time Rotational shift <br />
          <br />
          Call employer <br /><br />
          Easily apply <br /><br />
          Salary: ₹15,000.00 - ₹25,000.00 per month. <br />
          We are hiring for Desktop Support Engineer L1 in our Malad West
          office Mumbai at Know-All-Edge Networks Pvt Ltd. <br />Active 4
          days ago</span>
      </div>
      <button class="rectangle-53"></button><button class="rectangle-54"></button><button
        class="rectangle-55"></button><button class="rectangle-56"></button>
      <div class="email-send-57"></div>
      <div class="ellipse-58"></div>
      <div class="ellipse-59"></div>
    </div>
    <div class="rectangle-5a">
      <div class="digital-marketer">
        <span class="digital-marketer-5b">Digital Marketer | IT Marketer <br /></span><span
          class="peace-global-logistics">Peace Global Logistics LLC <br />Hyderabad, Telangana
          <br /><br />
          ₹8,229.29 - ₹28,000.00 a month Full-time <br /><br />
          Day shift<br /><br />
          Easily apply Responsive employer Urgently hiring <br /><br />
          Salary: ₹8,229.29 - ₹28,000.00 per month. <br />
          So if you do not have access to client list or have experience as
          an IT marketer / digital marketer, it is better not… <br />
          3 days ago</span>
      </div>
      <button class="rectangle-5c"></button><button class="rectangle-5d"></button><button class="rectangle-5e"></button>
      <div class="email-send-5f"></div>
      <div class="ellipse-60"></div>
      <div class="ellipse-61"></div>
    </div>
    <div class="rectangle-62">
      <div class="b-tech">
        <span class="b-tech-63">B.Tech (IT) <br /></span><span class="vibhuti-technologies">Vibhuti Technologies Pvt Ltd
          <br />Mohali, Punjab <br />
          <br />
          ₹12,000 - ₹15,000 a month Full-time Day shift <br /><br />
          Easily apply <br /><br />
          Salary: ₹12,000.00 - ₹15,000.00 per month. <br />
          2 casual paid leaves per quarter. <br />
          IT Freshers, ( B-_Tech Fresher, BCA, MCA Any ).
          <br /><br />Today</span>
      </div>
      <button class="rectangle-64"></button><button class="rectangle-65"></button><button class="rectangle-66"></button>
      <div class="email-send-67"></div>
      <div class="ellipse-68"></div>
      <div class="ellipse-69"></div>
      <div class="ellipse-6a"></div>
    </div>
  </div>
</div>