<div class="left-section">
    <!-- Content for the left section goes here -->
    <img src="../assets/verification.png"  class="left-image"> 

</div>


<div class="right-section">
 <!-- Content for the right section goes here -->

   <div class="container">
        <h2>Verification</h2>
        <form action="#" method="POST"> 


<br>
<br>


<div class="info">
We Will send you a one time OTP on
 this  Email ID</div>
 <br>


 <div class="mail">
    <label for=" p**********@gmail.com"> p**********@gmail.com</label></div>
 <br> 
</form>

<input type="text" class="circle-input" maxlength="1">
<span style="margin-right: 20px;"></span> 
 <input type="text" class="circle-input" maxlength="1">
 <span style="margin-right: 20px;"></span> 
 <input type="text" class="circle-input" maxlength="1">
 <span style="margin-right: 20px;"></span> 
 <input type="text" class="circle-input" maxlength="1">

 <br>
<br>
<div class="resend">
<p>Resend OTP</p></div>

<div class="button">
    <!-- <button>Register</button> -->
    <p><a href="Confirmationpassword" class="btn btn-primary">Submit</a></p>
  </div>