<div class="main-container">
    <h2 class="section-title">Profile Summary</h2>

    <div class="text">
        <p>Your profile summary should mention the highlights of your career and education, what your professional interests are, and what kind of a career you are looking for. Write a meaningful summary of more than 50 characters.</p>
    </div>


    <div class="mb-3">

        <textarea class="form-control" id="validationTextarea" placeholder="Type here...."
            required></textarea>
        <div class="textarealine">
            1000 characthers left.
        </div>
    </div>

    <div class="button-group">
        <button id="cancel">Cancel</button>
        <button id="save">Save</button>
    </div>
</div>
