<div class="main-container">
    <h2 class="section-title">Basic Details</h2>

    <div class="form-check form-check-inline">
    <div class="input-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder=" Enter Your Name">
    </div>
    

   
        <div class="radio-buttons">
            <label for="radio1">
                <input type="radio" id="radio1" name="radios" value="option1"> Fresher
            </label>
            <label for="radio2">
                <input type="radio" id="radio2" name="radios" value="option2"> Experienced
            </label>
        </div>

        <div class="input-group">
            <label for="location">Current Location:</label>
        </div>
        <div class="radio-buttons">
            <label for="radio1">
                <input type="radio" id="radio1" name="radios" value="option1"> India
            </label>
            <label for="radio2">
                <input type="radio" id="radio2" name="radios" value="option2"> Outside India
            </label>
        </div>



        <div class="input-group">
            <label for="city">City:</label>
            <input type="text" id="name" name="name" placeholder=" Pune">
        </div>
        <div class="input-group">
            <label for="mobile">Mobile Number:</label>
            <input type="text" id="mobile" name="mobile" placeholder=" +91">
        </div>
        <div class="input-group">
            <label for="email">Email Address:</label>
            <input type="text" id="email" name="email" placeholder=" me**********123@gmail.com">

            <br>
            <div class="button">
                <!-- <button>Register</button> -->
                <p><a href="#" class="btn btn-primary"> Change Email</a></p>
            </div>

            <div class="input-group">
                <label for="availability">Availability to Join:</label>
                <select id="availability">
                    <option value="15 Days or less">15 Days or less</option>
                    <option value="1 Month">1 Month </option>
                    <option value="2 Months">2 Months </option>
                    <option value="More than 3 Months">More than 3 Months</option>
                </select>
            </div>
            <div class="button-group">
                <button id="cancel">Cancel</button>
                <button id="save">Save</button>
            </div>
        </div>