<div class="main-container">
    <h2 class="section-title">Add Education</h2>

    <div class="form-group">
        <label for="education">Education</label>
        <input type="text" id="education" name="education" placeholder=" Enter Your Education" required>
    </div>

    <div class="form-group">
        <label for="university/institude">University/Institude</label>
        <input type="text" id="university/institude" name="university/institude" placeholder=" Enter Your University/Institude" required>
    </div>
    <div class="form-group">
        <label for="course">Course</label>
        <input type="text" id="course" name="course" placeholder=" Enter Your Course" required>
      </div>

      <div class="form-group">
        <label for="specialization">Specialization</label>
        <input type="text" id="specialization" name="specialization" placeholder=" Enter Your Specialization" required>
      </div>

      <label for="specialization">Specialization</label>
       <div class="radio-buttons">
        
        <label for="radio1">
            <input type="radio" id="radio1" name="radios" value="option1">Full Time
        </label>
        <label for="radio2">
            <input type="radio" id="radio2" name="radios" value="option2"> Part Time
        </label>
        <label for="radio2">
            <input type="radio" id="radio2" name="radios" value="option2"> Correspondence /Distance learning
        </label>
    </div>
    <div class="form-group">
        <label for="course-duration">Course Duration</label>
        <input type="text" id="course-duration" name="course-duration" placeholder=" 6 Months" required>
      </div>

      <div class="form-group">
        <label for="grading-system">Grading System</label>
        <input type="text" id="grading-system" name="grading-system" placeholder=" % Marks of 100 Maximum" required>
      </div>
     
      <div class="button-group">
        <button id="cancel">Cancel</button>
        <button id="save">Save</button>

    </div>
</div>