<div class="left-section">
  <!-- Content for the left section goes here -->
  <img src="../assets/confirmpassword.png" class="left-image">

</div>


<div class="right-section">
  <!-- Content for the right section goes here -->
  <div class="container">
    <h2 class="head">Confirm Password</h2>
    <br>
    <form action="#" method="POST">
      <div class="Left1">

        <div class="form-group">
          <!-- <label for="first-name">First Name</label> -->
          <input type="text" id="first-name" name="first-name" placeholder=" New Password" required>
        </div>
        <br>
        <div class="form-group">
          <!-- <label for="last-name">Last Name</label> -->
          <input type="text" id="last-name" name="last-name" placeholder=" Confirm Password" required>
        </div>
        <br>
        <div class="confirm-password">
          <p><a href="Login" class="btn btn-primary" padding="10px">Confirm Password</a></p>
        </div>
      </div>
      <br>
      <div class="right1">
        <div class="checkbox">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."> Password
            Length
            should be greater then 8.
          </div>
          <br>
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."> Minimum 1
            digit in
            password.

          </div>
          <br>
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."> Minimum 1
            capital
            latter in password.

          </div>
          <br>
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."> Minimum 1
            spacial
            word in password like @,#,$.
          </div>
          <br>
          
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."> Password
            should be
            match with confirm password
          </div>
        </div>
   </form>
  </div>
</div>