<div class="main-container">
    <h2 class="section-title">IT Skills</h2>
    Specify details about programming languages (such as Java, Python, C/C++, Oracle, SQL etc), softwares (Microsoft
    Word, Excel, Tally etc) or any other software related knowledge.
    <div class="form-group">
        <label for="skillsoftware-name">Skill/Software Name:</label>
        <input type="text" id="skillsoftware-name" name="skillsoftware-name"
            placeholder=" Enter Your Skill/Software Name" required>
    </div>

    <div class="form-group">
        <label for="software-version-last-used">Software Version & Last Used:</label>
        <input type="text" id="software-version-last-used" name="software-version-last-used"
            placeholder=" Enter Your Software Version & Last Used" required>
    </div>
    <div class="form-group">
        <label for="experience">Experience:</label>
        <input type="text" id="experience" name="experience" placeholder=" Enter Your Experience" required>
    </div>
    <div class="button-group">
        <button id="cancel">Cancel</button>
        <button id="save">Save</button>
    </div>

</div>