<div class="main-container">
    <h2 class="section-title">Key Skill</h2>

    <div class="text">
        <p>Tell recruiters what you know or what you are known for e.g. Direct Marketing, Oracle, Java etc. We will send
            you job recommendations based on these skills. each skill is separated by a comma.
        </p>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Skills</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter your area of Expertise/Specialization">
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Or you can select from the suggested set of skills</label>
        <div class="button-group0">
            <button class="selectable-button" value="option1">HTML</button>
            <button class="selectable-button" value="option2">CSS</button>
            <button class="selectable-button" value="option3">Bootstrap</button>
            <!-- Add more buttons as needed -->
        </div>
    </div>
    <div class="button-group">
        <button id="cancel">Cancel</button>
        <button id="save">Save</button>

    </div>