<div class="main-container">
    <h2 class="section-title">Personal details
    </h2>
    <label for="gender">Gender</label>
    <div class="radio-buttons">

        <label for="radio1">
            <input type="radio" id="radio1" name="radios" value="option1"> Male

        </label>
        <label for="radio2">
            <input type="radio" id="radio2" name="radios" value="option2"> Female
        </label>
    </div>
    <div class="form-group">
        <label for="More-information">More information</label>
        <div class="text">
            <p>Companies are focusing on equal opportunities and might be looking for candidates from diverse
                backgrounds.</p>
        </div>
        <select id="More-information">
            <option value="Single Parent">Single Parent</option>
            <option value="Working Mother">Working Mother</option>
            <option value="Served In Military">Served In Military</option>
            <option value="Retired(60+)">Retired(60+)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Marital-status">Marital status</label>

        <select id="Marital-status">
            <option value="Single/unmarried">Single/unmarried</option>
            <option value="Married">Married</option>
            <option value="Divorced">Divorced</option>
            <option value="Separated">Separated</option>
        </select>
    </div>
    <div class="form-group">
        <label for="birthdate">Birthdate:</label>
        <div class="birthdate">
            <select id="day" name="day">
                <option value="">Day</option>

            </select>
            <select id="month" name="month">
                <option value="">Month</option>

            </select>
            <select id="year" name="year">
                <option value="">Year</option>

            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="category">Category </label>
        <div class="text">
            <p>Companies welcome people from various categories to bring equality among all citizens</p>
        </div>
        <select id="category">
            <option value="General">General</option>
            <option value="Scheduled Cast(SC)">Scheduled Cast(SC)</option>
            <option value="OBC-Creamy">OBC-Creamy</option>
            <option value="OBC- Non creamy">OBC- Non creamy</option>
            <option value="Other">Other </option>
        </select>
    </div>

    <label for="differently-abled">Are you differently abled?</label>
    <div class="radio-buttons">

        <label for="radio1">
            <input type="radio" id="radio1" name="radios" value="option1"> Yes


        </label>
        <label for="radio2">
            <input type="radio" id="radio2" name="radios" value="option2"> No
        </label>
    </div>

    <label for="differently-abled">Have you taken a career break?</label>
    <div class="radio-buttons">

        <label for="radio1">
            <input type="radio" id="radio1" name="radios" value="option1"> Yes


        </label>
        <label for="radio2">
            <input type="radio" id="radio2" name="radios" value="option2"> No
        </label>
    </div>

    <div class="form-group">
        <label for="Work-permit-countries">Work permit for other countries:</label>
        <input type="text" id="Work-permit-countries" name="Work-permit-countries" placeholder=" Enter countries">
    </div>
    <div class="textarealine">
        You can choose 2 countries at max
    </div>
    <div class="form-group">
        <label for="permanent-address">Permanent address</label>
        <input type="text" id="permanent-address" name="permanent-address"
            placeholder=" Enter Your University/Institude" required>
    </div>
    <div class="form-group">
        <label for="hometown">Hometown</label>
        <input type="text" id="hometown" name="hometown" placeholder=" Enter Your Hometown" required>
    </div>


    <div class="form-group">
        <label for="pincode"> Pincode</label>
        <input type="text" id="pincode" name="pincode" placeholder=" Enter Your Pincode" required>
    </div>
    <div class="form-group">
        <label for="Language">Language</label>
        <input type="text" id="Language" name="Language" placeholder=" Enter Language" required>
    </div>


    <div class="button-group">
        <button id="cancel">Cancel</button>
        <button id="save">Save</button>
    </div>




</div>